<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>วิทลัยอาชีวศึกษาภูเก็ต</title>
    <link rel="icon" href="/images/loginLogo.png">
</head>
<body class="hold-transition sidebar-mini layout-fixed" data-panel-auto-height-mode="height">
    <div class="wrapper">
        <!-- Navbar -->
        <%- include('privateTop'); -%>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <%- include('systemLeft'); -%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper iframe-mode" data-widget="iframe" data-loading-screen="750">
            <div class="container-fluid ">
                <div class="row justify-content-center">
                    
                  <div class=" col">
                    <div class="card">
                     
                      <div class="container-fluid">
                          <div class="row">
                              <div class="col-12">
                                <div class="form-group ">
                                  <img src="/upload/<%=news[0].image_name%>" alt="" style="
                                  height: 400px;
                                  width: 100%;
                                  object-fit: cover;
                                  "><br>
                                    <label for="exampleInputEmail1" class="text-dark">รูปภาพ</label>
                                   
                                    <input type="file" name="image" id="image_name" onchange="edit_image('<%=news[0]._id%>')" class="text-dark form-control" aria-describedby="emailHelp" placeholder="กรุณากรอกชื่อเเบรนด์สินค้า">
                                    <small id="emailHelp" class="form-text text-muted">กรุณาเลือกรูปสินค้า</small>
                                  </div>
                              </div>
                              <div class="col-12">
                                  <form action="/update_news?_id=<%= news[0]._id%>" method="POST" id="news_form">
                                  
                                      <div class="form-group">
                                        <label for="exampleInputEmail1" class="text-dark">ชื่อเรื่อง</label>
                                        <input type="text" value="<%= news[0].name%>" name="name_" id="name_" class="text-dark form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="กรุณากรอกชื่อ">
                                        <small id="emailHelp" class="form-text text-muted">กรุณากรอกชื่อ</small>
                                      </div>
                                      
                                      <div class="form-group">
                                          <label for="exampleInputEmail1" class="text-dark">แผนก</label>
                                          <% if(user.role == 'system'){%> 
                                            <select class="form-control text-dark" id="department" name="department">
                                                <option value="" selected>--กรุณาเลือกแผนก--</option>
                                                <% departments.forEach(function(depart){ %>
                                                  <option value="<%= depart._id%>" ><%=  depart.name  %> </option>   
                                                  <% }); %>
                                               
                                            </select>
                                            <% } %> 
                                            <% if(user.role == 'admin'){%> 
                                         
                                              <select class="form-control text-dark" id="department" name="department">
                                            
                                                  <% departments.forEach(function(depart){ %>
                                                    <% if(depart._id == user.department_id){ %> 
                                                    <option value="<%= depart._id%>" selected><%=  depart.name  %> </option>  
                                                    <% } %>  
                                                  <% }); %>
                                                 
                                              </select>
                                              <% } %> 
                                          <small id="emailHelp" class="form-text text-muted">กรุณาเลือกแผนก</small>
                                      </div>
                                    
                                      <div class="form-group">
                                          <label for="exampleInputEmail1" class="text-dark">รายละเอียด</label>
                                          <textarea name="detail" id="detail" class="form-control text-dark" id="" cols="30" rows="10"><%= news[0].detail%></textarea>
                                          <small id="emailHelp" class="form-text text-muted">กรุณากรอกรายละเอียด</small>
                                      </div>
                                      
                                    
                                      <button type="submit" class="btn btn-primary btn-block" onclick="check_news()">บันทึก</button>
                                      <a  class="btn btn-secondary btn-block" href="/admin_product" >ย้อนกลับ</a>
                                      
                                  </form>
                              </div>
                              <div class="col-12 pl-5 pr-5 d-flex justify-content-center">
                                 
                                
                                  
                                </div>
                          </div>
                          
                      </div>
                    </div>
                  </div>
              
                </div>
              
              </div>   
        </div>
        <!-- /.content-wrapper -->

        <!-- footer -->
        

        <!-- Control Sidebar -->
        <!-- <aside class="control-sidebar control-sidebar-dark">
         
        </aside> -->
        <!-- /.control-sidebar -->
      </div>
      <script>
          edit_image=(_id)=>{
            var pathImage = $("#image_name")[0].files[0];
            var image = new FormData();
            image.append('image',pathImage)
            $.ajax({
              url: '/edit_image?_id='+_id,
              data: image,
              cache: false,
              contentType: false,
              processData: false,
              method: 'POST',
              type: 'POST', // For jQuery < 1.9
              success: function(data){
                  
                  if(data.message = 'imaged'){
                    window.location.href = `/news_info?id=${_id}`
                  }
              }
            })
          }
          $(document).ready(function() {
            $("#department").val("<%= news[0].department_id %>")
          });
          check_news=()=>{
           event.preventDefault();
           var name = $('#name_').val();
           var department = $('#department').val();
           var detail = $('#detail').val();
           var image_name = $('#image_name').val();
           if(name == ''){
            Swal.fire(
                'กรุณากรอกข้อมูลให้ครบ',
                'กรอกชื่อชื่อเรื่อง',
                'warning'
            )  
           }else if(department == ''){
            Swal.fire(
                'กรุณากรอกข้อมูลให้ครบ',
                'เลือกแผนก',
                'warning'
            )
           }else if(detail ==''){
            Swal.fire(
                'กรุณากรอกข้อมูลให้ครบ',
                'กรอกรายละเอียด',
                'warning'
            )
           }else{
                $('#news_form').submit();
           }
           
         
       }
      </script>
</body>
</html>