<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>วิทยาลัยอาชีวศึกษาภูเก็ต</title>
    <link rel="icon" href="/images/loginLogo.png">
</head>
<body class="hold-transition sidebar-mini layout-fixed" data-panel-auto-height-mode="height">
    <div class="wrapper">
        <!-- Navbar -->
        <%- include('privateTop'); -%>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <%- include('systemLeft'); -%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper iframe-mode" data-widget="iframe" data-loading-screen="750">
            <div class="container">
                <div class="row">
                    <% news.forEach(function(new_){ %>
                        <div class="col-12 ">
                            <div class="" style="width: 100%;">
                                <img class="card-img-top" src="upload/<%= new_.image_name%>" style=" height: 400px; object-fit: cover;" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title font-weight-bold"><%= new_.name%></h5> <br>
                                  เขียนโดย <%= new_.user.firstname + ' ' + new_.user.lastname %>
                                   เเผนก <%= new_.department.name %> 
                                   <br>
                                   <small>โพสเมื่อ <%= moment(new_.user.updated).format("DD/MM/YYYY HH:mm:ss"); %> </small>
                                  <p class="card-text hiddenText"><%= new_.detail %> </p>
                                 
                                  <a onclick=" window.history.back();" class="btn btn-secondary float-right" )">กลับหน้าข่าวสาร</a>
                                  
                                </div>
                              </div>
                        </div>
                    <% }); %>
                </div>
            </div> 
        </div>
        <!-- /.content-wrapper -->

        <!-- footer -->
        

        <!-- Control Sidebar -->
        <!-- <aside class="control-sidebar control-sidebar-dark">
         
        </aside> -->
        <!-- /.control-sidebar -->
      </div>

</body>
</html>